/* ----- Reset ----- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /*background-color: gray;*/

  color: white;
}
img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
input,
button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  height: 20px;
  text-align: center;
}
button {
  border: none;
  padding: 0 15px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: dodgerblue;
}
/*----- Reset -----
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  color: white;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
input,
button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  height: 20px;
  text-align: center;
}
button {
  border: none;
  padding: 0 15px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: dodgerblue;
}*/
/*----- App -----*/
.app {
  background-color: #808e8f;
  background-image: url("../img/logo_rickandmorty.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.app__container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: space-evenly;
}
.app__form {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.app__input {
  border-radius: 0 5px 5px 0;
}
.app__btn {
  background-color: #71a821;
  color: white;
  border-radius: 0 5px 5px 0;
}
.app__btn:hover {
  filter: brightness(1.1);
}
